* {
    font-family: 'Roboto', sans-serif;
}

/*Sidans logga*/

.logo {
    max-width: 50%;
    max-height: 50%;
    margin-left: 26px;
    border-bottom: lightgrey solid 0.5px;
    cursor: pointer;
}

/* Fixed sideBar */

.sideBar {
    height: 100%;
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    padding-top: 20px;
    overflow: visible;
    border-right: lightgrey solid 0.5px;
}

/* Ikoner */
.fa-search:before, .fa-star:before, .fa-cog:before, .fa-folder:before { 
    padding: 6px 15px 8px 16px;
    display: block;
    margin-top: 40%;
    margin-left: 34px;
    cursor: pointer;
    border-bottom: lightgrey solid 1px;
}

/* Second Sidebar */

.hight {
    margin-top: 20%;
}

.secondSideBar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 131px;
    background-color: white;
    overflow-x: hidden;
    transition: 1s;
    border-right: lightgrey solid 0.5px;
}

.secondSideBar a, p {
    padding: 6px 6px 8px 16px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    display: block;
    transition: 0.3s;
}

.secondSideBar .rubrik {
    margin-top: 2%;
    text-align: center;
    font-size: 30px;
    transition: 0.3s;
}

.rubrik:hover {
    color: #6ECCCC;
    transition: 0.5s;   
}

.closebtn {
    margin-left: 250px;
}

/* Editor */

#main { /* Editor */
    max-width: 90%;
    width: 90%;
    position: absolute;
    margin-left: 130px;
    transition: 1s;
}




