* {
    font-family: 'Roboto', sans-serif;
}  

#editor{
    max-width: 90%;
    width: 90%;
    position: absolute;
    margin-left: 130px;
    transition: 1s;
    top: 0;
    height: 93%;
  }

  #quillEditor { /* Inside editor */
      padding: 20px;
  }

  .ql-toolbar.ql-snow {
      background-color: #fafafa;
  }

/* Knappar */

.savebtn {
    z-index: 1;
    position: absolute;
    top: 0;
    margin-top: 50%;
    margin-left: 90%;
    font-size: 25px;
    text-decoration: none;
    letter-spacing: 0.15rem;
    color: black;
}

.savebtn:hover {
    text-shadow: 4px 4px 2px grey;
    transition: all 0.5s ease-in-out 0s;
}

/*Sidans logga*/

.logo {
    max-width: 50%;
    max-height: 50%;
    margin-left: 26px;
    cursor: pointer;
    border-bottom: 1px solid grey;
}

/* Fixed sideBar */

.sideBar {
    height: 100%;
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #c8e6c9;
    padding-top: 20px;
    overflow: visible;
    border-right: lightgrey solid 0.5px;
}

/* Ikoner */
.fa-plus:before, .fa-star:before, .fa-cog:before, .fa-folder:before { 
    padding: 0px 15px 8px 16px;
    display: block;
    margin-top: 50%;
    margin-left: 34px;
    cursor: pointer;
    border-bottom: 1px solid grey;
}

.fa-plus:hover, .fa-folder:hover, .fa-cog:hover, .fa-star:hover {
 margin-left: 10px;
 transition: 1s;
}

/* Second Sidebar */

#search {
    margin-bottom: 20px;
    text-align: center;
    margin-left: 30%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid lightgray;
    cursor: pointer;
}

#search:hover {
    box-shadow: 5px 10px 8px #888888;
    transition: 1s;
}

input:invalid ~ span:after {
    content: '✖';
    padding-left: 5px;
    position: absolute;
}

input:valid ~ span:after {
    content: '✓';
    padding-left: 5px;
    position: absolute;
}

.hight {
    margin-top: 2%;
}

.line {
    border-bottom: 1px solid grey;
}

.secondSideBar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 131px;
    background-color: #fafafa;
    overflow-x: hidden;
    transition: 1s;
    border-right: lightgrey solid 0.5px;
}

#justText div {
    word-break: break-all;
    transition: 0.3s;
    border-bottom: 1px solid grey;
    height: 90px;
    cursor: pointer;
    text-align: center;
}

#justText div:hover {
    transition: 0.7s;
    background-color: #e0e0e0;
}

.secondSideBar a {
    padding: 6px 6px 8px 16px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    display: block;
    transition: 0.3s;
}

.closebtn {
    margin-left: 250px;
}

/* Popup */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    width: 30%;
  }
  ul{
      list-style-type: none;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-content > p, li, .welcome {
      text-align: center;
  }

  .welcome {
    text-shadow: 3px 3px 2px lightgrey;
  }



